<!DOCTYPE html>
<html>
    <head>
        <titlte>404</titlte>
       <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>

        <div class="main-content "> 
            {{>header}}
            <h6>{{error}}</h6>
        </div>
        {{>footer}}
    </body>
</html>