<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        

        <div class="main-content">
            {{>header}}
            <p>This is was created by dilan silva.It uses data from mapbox.</p>
             <img class="portrait" src="/img/38769176_125218695078675_6176182406375014400_n.jpg"> 
        </div>

       
        
        {{>footer}}
    </body>
</html>